---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Indentation
IndentCaseLabels: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# Pointer alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Includes
SortIncludes: Never

# Other
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeTernaryOperators: true
MaxEmptyLinesToKeep: 2
ReflowComments: true
InsertBraces: true
...
